extends layout

block content
  h1= title
  p Welcome to #{title}
  p Purpose of this server is to do Front End Development for HTL / Sightly

  p Available Generated HTML

  ul
  each val in allGeneratedHtml
    li
     a(href=val) #{val}
